@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.profilecard {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profilecard::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
    background-color: #4070f4;
    border-radius: 24px 24px 0 0;

}

.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
}

.profile-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #fff;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.name {
    font-size: 22px;
    font-weight: 500;
}

.role {
    font-size: 15px;
    font-weight: 400;
}

.icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0d38b1;
}

.icon  :hover {
      text-decoration: none;    
      height: 34px;
      width: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
}  